In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from utilsforecast.plotting import plot_series 
from coreforecast.scalers import boxcox, boxcox_lambda
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.tsa.seasonal import STL, MSTL
from statsforecast import StatsForecast

warnings.filterwarnings("ignore")

In [25]:
df = pd.read_csv(f'../DATA/PBS.csv')
df['Month'] = pd.to_datetime(df['Month'])
df = df.drop('Unnamed: 0', axis=1)
df = df.set_index('Month')
df = df[df['Concession'] == 'General']
df.head()

,Concession,Type,ATC1,ATC1_desc,ATC2,ATC2_desc,Scripts,Cost
Month,,,,,,,,
1991-07-01,General,Co-payments,A,Alimentary tract and metabolism,A01,STOMATOLOGICAL PREPARATIONS,61,254.0
1991-08-01,General,Co-payments,A,Alimentary tract and metabolism,A01,STOMATOLOGICAL PREPARATIONS,27,135.0
1991-09-01,General,Co-payments,A,Alimentary tract and metabolism,A01,STOMATOLOGICAL PREPARATIONS,21,81.0
1991-10-01,General,Co-payments,A,Alimentary tract and metabolism,A01,STOMATOLOGICAL PREPARATIONS,29,127.0
1991-11-01,General,Co-payments,A,Alimentary tract and metabolism,A01,STOMATOLOGICAL PREPARATIONS,29,50.0

In [30]:
df['ATC_MEAN'] = df.groupby('ATC2')['Cost'].transform('mean')
df['ATC_STD'] = df.groupby('ATC2')['Cost'].transform('std')

In [46]:
df[df['ATC_MEAN'] == df['ATC_MEAN'].max()].head(1)

,Concession,Type,ATC1,ATC1_desc,ATC2,ATC2_desc,Scripts,Cost,ATC_MEAN,ATC_STD
Month,,,,,,,,,,
1991-07-01,General,Co-payments,C,Cardiovascular system,C10,SERUMLIPIDREDUCING AGENTS,68727,2419207.0,5.043696e+06,5.129201e+06

In [47]:
df[df['ATC_STD'] == df['ATC_STD'].min()].head(1)

,Concession,Type,ATC1,ATC1_desc,ATC2,ATC2_desc,Scripts,Cost,ATC_MEAN,ATC_STD
Month,,,,,,,,,,
2003-07-01,General,Co-payments,R,Respiratory system,R,R,0,0.0,1.049129,4.910251